<div class="col-md-12">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-body controllPanel">
                <div class="col-md-7 title"><strong>{{ breadcrumb() }}</strong></div>
                <div class="col-md-5 buttons text-right">
                    {% block panelButtons %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        {% block main %}{% endblock %}
    </div>
</div>