<div class="row">
    <nav>
        <ul class="pager">
            {% if offset > 0 %}
                <li class="previous">
                    <a href="{{ url(route, {'offset': offset-limit, 'limit': limit}) }}">
                        <span aria-hidden="true">&larr;</span> {{ 'labels.prev'|trans({}, 'catalog') }}
                    </a>
                </li>
            {% endif %}
            {% if countItems > limit %}
                <li class="next">
                    <a href="{{ url(route, {'offset': offset+limit, 'limit': limit}) }}">
                        {{ 'labels.next'|trans({}, 'catalog') }}
                        <span aria-hidden="true">&rarr;</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
</div>