{% extends 'DashboardBundle:Layout:base.html.twig' %}

{% block body %}
    {% embed "CatalogBundle::main.html.twig" %}
        {% block panelButtons %}
            <a href="{{ url('cms_catalog_currencies_create') }}"
               class="btn btn-success btn-xs">
                <i class="glyphicon glyphicon-plus"></i>
                {{ 'Add'|trans }}
            </a>
        {% endblock %}

        {% block main %}
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <th><input type="checkbox" data-action="selectAll"/></th>
                    <th>ID</th>
                    <th>{{'Title'|trans}}</th>
                    <th>{{'Code'|trans}}</th>
                    <th>{{'Date update'|trans}}</th>
                    <th>{{'Update by'|trans}}</th>
                    <th></th>
                    <th></th>
                    </thead>
                    <tbody>
                    {% for currency in currencies %}
                        <tr>
                            <td><input type="checkbox" value="{{currency.id}}" name="mark[]"/></td>
                            <td>{{currency.id}}</td>
                            <td>
                                <a href="{{url('cms_catalog_currencies_edit', {'id': currency.id})}}">
                                    {{ currency.title|locale }}
                                </a>
                            </td>
                            <td>{{ currency.code }}</td>
                            <td>{{ currency.dateCreate|date('d.m.Y')}}</td>
                            <td>{{ currency.updateBy }}</td>
                            <td></td>
                            <td><a href='{{url('cms_catalog_currencies_edit', {'id': currency.id})}}'><span class="glyphicon lead text-primary glyphicon-pencil"></span></a></td>
                            <td><a href='{{url('cms_catalog_currencies_delete', {'id': currency.id})}}'><span class="glyphicon lead text-danger glyphicon-remove-circle"></span></a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}
