{% extends 'DashboardBundle:Layout:base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts '@file_uploader_js' '@localization_tabs_js' %}
    <script type="text/javascript" src="{{ asset_url }}" xmlns="http://www.w3.org/1999/html"></script>
    {% endjavascripts %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
    '@fileupload_css' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{% block body %}
    {% embed "CatalogBundle::main.html.twig" %}
        {% block main %}
            {% form_theme form 'CatalogBundle::fields.html.twig' %}
            <div class='row'>
                <div class='col-md-12'>
                    {{ show_locale_tabs() }}
                    </br>
                    <form method="post">
                        {{ form_errors(form) }}

                        {{ form_row(form.title,{
                                'label': 'Title'|trans({},'messages'),
                            })
                        }}
                        {{ form_row(form.paymentService,{
                                'label': 'Payment service'|trans({},'messages'),
                            })
                        }}

                        {{ form_rest(form) }}

                        <div class="well well-sm text-right">
                            <input type="submit" class="btn btn-sm btn-primary" value="{{'Save'|trans}}"/>
                            <a class="btn btn-sm btn-default" href="javascript:history.go(-1)">{{'Cancel'|trans}}</a>
                        </div>
                    </form>
                </div>
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}