{% extends 'DashboardBundle:Layout:base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    '@file_uploader_js'
    '@localization_tabs_js'
    '@handlebars'
    '@typeahead'
    '@select_form_type_js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script id="typeahead_template" type="text/html">
        {% verbatim %}
        <div class="row">
            <div class="col-md-1">{{id}}</div>
            <div class="col-md-4">{{title.ru}}</div>
            <div class="col-md-2">{{price}}</div>
            <div class="col-md-2">{{currency.code}}</div>
            <div class="col-md-3">
                <ul class="list-unstyled">
                    {{#each properties}}
                    <li>{{property.title.ru}}: {{value}}</li>
                    {{/each}}
                </ul>
            </div>
        </div>
        {% endverbatim %}
    </script>
    <script id="item_template" type="text/html">
        {% verbatim %}
        <tr class="cms-select-form-type-row">
            <td>
                <input type="hidden" name="variations[products][]" value="{{id}}">
                {{id}}
            </td>
            <td>{{title.ru}}</td>
            <td>{{price}}</td>
            <td>{{currency.code}}</td>
            <td>
                <ul class="list-unstyled">
                    {{#each properties}}
                    <li>{{property.title.ru}}: {{value}}</li>
                    {{/each}}
                </ul>
            </td>
            <td>
                <a href="#" class="cms-select-form-type-delete" title="delete">
                    <i class="glyphicon glyphicon-remove"></i>
                </a>
            </td>
        </tr>
        {% endverbatim %}
    </script>
    <script type="application/javascript">
        $(document).ready(function(){
            $('#cms-select-form-type-typeahead').cmsSelectFormType({
                'typeahead_template': $('#typeahead_template').html(),
                'item_template': $('#item_template').html(),
                'find_route': 'cms_catalog_find_products',
                'items_container': $('#cms-select-form-type-items')
            });
        });
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
        '@fileupload_css'
        '@products_form_type_css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{% block body %}
    {% embed "CatalogBundle::main.html.twig" %}
        {% block main %}
            {% form_theme form 'CatalogBundle::fields_vertical.html.twig' %}
            <div class='row'>
                <div class='col-md-12'>
                    {{ show_locale_tabs() }}
                    </br>
                    <div class="tabpanel">
                        {{ form_start(form, {'method': 'POST'}) }}
                            {{ form_errors(form) }}
                            <div class="row">
                                <div class="col-md-3 col-sm-3">
                                    <ul class="nav nav-pills nav-stacked">
                                        <li class="active">
                                            <a href="#step_1" data-toggle="tab">{{ 'labels.main_descriptions'|trans({}, 'catalog') }}</a>
                                        </li>
                                        <li>
                                            <a href="#step_2" data-toggle="tab">{{ 'labels.products'|trans({}, 'catalog') }}</a>
                                        </li>
                                        <li>
                                            <a href="#step_3" data-toggle="tab">{{ 'labels.images'|trans({}, 'catalog') }}</a>
                                        </li>
                                        <li>
                                            <a href="#step_4" data-toggle="tab">{{ 'labels.more'|trans({}, 'catalog') }}</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-9 col-sm-9">
                                    <div class="tab-content">
                                        <div class="tab-pane fade in active" id="step_1">
                                            {{ form_row(form.title,{
                                                'label': 'Title',
                                            }) }}
                                            {{ form_row(form.keywords,{
                                                'label': 'Keywords',
                                            }) }}
                                            {{ form_row(form.description,{
                                                'label': 'Description',
                                            }) }}
                                            {{ form_row(form.introduction,{
                                                'label': 'Introduction',
                                            }) }}
                                            {{ form_row(form.content,{
                                                'label': 'Content',
                                            }) }}
                                            {{ form_row(form.category,{
                                                'label': 'Category',
                                            }) }}
                                            {{ form_row(form.sort,{
                                                'label': 'Sort',
                                            }) }}
                                            {{ form_row(form.is_published,{
                                                'label': 'Is published',
                                            }) }}
                                            {{ form_row(form.is_deleted,{
                                                'label': 'Is deleted',
                                            }) }}
                                        </div>
                                        <div class="tab-pane fade" id="step_2">
                                            {{ form_row(form.products,{
                                                'label': 'Products',
                                            }) }}
                                        </div>
                                        <div class="tab-pane fade" id="step_3">
                                            {{ form_row(form.images,{
                                                'label': 'Images',
                                            }) }}
                                        </div>
                                        <div class="tab-pane fade" id="step_4">
                                            {{ form_row(form.delivery_methods,{
                                                'label': 'Delivery methods',
                                            }) }}
                                            {{ form_row(form.payment_types,{
                                                'label': 'Payment types',
                                            }) }}
                                            {{ form_row(form.related_variations,{
                                                'label': 'Related variations',
                                            }) }}
                                            {{ form_row(form.rating,{
                                                'label': 'Rating',
                                            }) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{ form_rest(form) }}
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="well well-sm text-right">
                                        <input type="submit" class="btn btn-primary btn-sm"
                                               value="{{ 'labels.save'|trans({}, 'catalog') }}"/>
                                        <a href="javascript:history.go(-1)"
                                           class="btn btn-default btn-sm">{{ 'labels.cancel'|trans({}, 'catalog') }}</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}