{% extends 'DashboardBundle:Layout:base.html.twig' %}

{% block body %}
    {% embed "CatalogBundle::main.html.twig" %}
        {% block panelButtons %}
            <a href="{{ url('cms_catalog_variations_create') }}"
               class="btn btn-success btn-xs">
                <i class="glyphicon glyphicon-plus"></i>
                {{ 'Add'|trans }}
            </a>
        {% endblock %}

        {% block main %}
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <th><input type="checkbox" data-action="selectAll"/></th>
                    <th>ID</th>
                    <th>{{'Title'|trans}}</th>
                    <th>{{'Is published'|trans}}</th>
                    <th>{{'Sort'|trans}}</th>
                    <th>{{'Date update'|trans}}</th>
                    <th>{{'Update by'|trans}}</th>
                    <th></th>
                    <th></th>
                    </thead>
                    <tbody>
                    {% for key, variation in variations if key < limit %}
                        <tr>
                            <td><input type="checkbox" value="{{variation.id}}" name="mark[]"/></td>
                            <td>{{variation.id}}</td>
                            <td>
                                <a href="{{url('cms_catalog_variations_edit', {'id': variation.id})}}">
                                    {{ variation.title|locale }}
                                </a>
                            </td>
                            <td>{{ variation.ispublished }}</td>
                            <td>{{ variation.sort }}</td>
                            <td>{{ variation.dateCreate|date('d.m.Y')}}</td>
                            <td>{{ variation.updateBy}}</td>
                            <td></td>
                            <td><a href='{{url('cms_catalog_variations_edit', {'id': variation.id})}}'><span class="glyphicon lead text-primary glyphicon-pencil"></span></a></td>
                            <td><a href='{{url('cms_catalog_variations_delete', {'id': variation.id})}}'><span class="glyphicon lead text-danger glyphicon-remove-circle"></span></a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            {% include '@Catalog/pager.html.twig' with {'route': 'cms_catalog_variations_list','offset': offset, 'limit': limit, 'countItems': variations|length} %}
        {% endblock %}
    {% endembed %}
{% endblock %}
