{% extends 'DashboardBundle:Layout:base.html.twig' %}

{% block body %}
    {% embed "CatalogBundle::main.html.twig" %}
        {% block panelButtons %}
            <a href="{{ url('cms_catalog_categories_create') }}"
               class="btn btn-success btn-xs">
                <i class="glyphicon glyphicon-plus"></i>
                {{ 'Add'|trans }}
            </a>
        {% endblock %}

        {% block main %}
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <th><input type="checkbox" data-action="selectAll"/></th>
                    <th>ID</th>
                    <th>{{'Title'|trans}}</th>
                    <th>{{'Is published'|trans}}</th>
                    <th>{{'Sort'|trans}}</th>
                    <th>{{'Date update'|trans}}</th>
                    <th>{{'Update by'|trans}}</th>
                    <th></th>
                    <th></th>
                    </thead>
                    <tbody>
                    {% for category in categories %}
                        <tr>
                            <td><input type="checkbox" value="{{category.id}}" name="mark[]"/></td>
                            <td>{{category.id}}</td>
                            <td>
                                <a href="{{url('cms_catalog_categories_edit', {'id': category.id})}}">
                                    {{ category.title|locale }}
                                </a>
                            </td>
                            <td>{{ category.ispublished }}</td>
                            <td>{{ category.sort }}</td>
                            <td>{{ category.dateCreate|date('d.m.Y')}}</td>
                            <td>{{ category.updateBy}}</td>
                            <td></td>
                            <td><a href='{{url('cms_catalog_categories_edit', {'id': category.id})}}'><span class="glyphicon lead text-primary glyphicon-pencil"></span></a></td>
                            <td><a href='{{url('cms_catalog_categories_delete', {'id': category.id})}}'><span class="glyphicon lead text-danger glyphicon-remove-circle"></span></a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}
