.twitter-typeahead{
    width: 100%;
}

.twitter-typeahead .tt-menu{
    width: 100%;
    border: 1px solid #e3e3e3;
    /* Safari 3-4, iOS 1-3.2, Android 1.6- */
    -webkit-border-radius: 4px;
    /* Firefox 1-3.6 */
    -moz-border-radius: 4px;
    /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
    border-radius: 4px;
    background-color: #fff;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.twitter-typeahead .tt-suggestion{
    padding: 3px 0px;
}

.twitter-typeahead .tt-suggestion:not(:last-child){
    border-bottom: 1px solid #e3e3e3;
}

.twitter-typeahead .tt-suggestion.tt-cursor{
    background-color: #0b93d5;
    color: #fff;
}