{% extends 'DashboardBundle:Layout:base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    '@file_uploader_js'
    '@localization_tabs_js'
    'bundles/catalog/js/fileuploader.js'
    'bundles/catalog/js/properties.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
    '@fileupload_css' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{% block body %}
    {% embed "CatalogBundle::main.html.twig" %}
        {% block main %}
            {% form_theme form 'CatalogBundle::fields_vertical.html.twig' %}
            <div class='row'>
                <div class='col-md-12'>
                    {{ show_locale_tabs() }}
                    </br>
                    <div class="tabpanel">
                        {{ form_start(form, {'method': 'POST'}) }}
                            {{ form_errors(form) }}
                            <div class="row">
                                <div class="col-md-3 col-sm-3">
                                    <ul class="nav nav-pills nav-stacked">
                                        <li class="active">
                                            <a href="#step_1" data-toggle="tab">{{ 'Main description'|trans({}, 'labels') }}</a>
                                        </li>
                                        <li>
                                            <a href="#step_2" data-toggle="tab">{{ 'Prices'|trans({}, 'labels') }}</a>
                                        </li>
                                        <li>
                                            <a href="#step_3" data-toggle="tab">{{ 'Properties'|trans({}, 'labels') }}</a>
                                        </li>
                                        <li>
                                            <a href="#step_4" data-toggle="tab">{{ 'More'|trans({}, 'labels') }}</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-9 col-sm-9">
                                    <div class="tab-content">
                                        <div class="tab-pane fade in active" id="step_1">
                                            {{ form_row(form.title,{
                                                'label': 'Title',
                                            }) }}
                                            {{ form_row(form.sort,{
                                                 'label': 'Sort',
                                            }) }}
                                            {{ form_row(form.is_published,{
                                                'label': 'Is published',
                                            }) }}
                                            {{ form_row(form.is_deleted,{
                                                'label': 'Is deleted',
                                            }) }}
                                        </div>
                                        <div class="tab-pane fade" id="step_2">
                                            {{ form_row(form.purchase_price,{
                                                'label': 'Purchase price',
                                            }) }}
                                            {{ form_row(form.margin,{
                                                'label': 'Margin'
                                            }) }}
                                            {{ form_row(form.price,{
                                                'label': 'Price'
                                            }) }}
                                            {{ form_row(form.currency,{
                                                'label': 'Currency'
                                            }) }}
                                        </div>
                                        <div class="tab-pane fade" id="step_3">
                                            {{ form_row(form.properties,{
                                                'label': 'Properties',
                                            }) }}
                                        </div>
                                        <div class="tab-pane fade" id="step_4">
                                            {{ form_row(form.variations,{
                                                'label': 'Variations',
                                            }) }}
                                            {{ form_row(form.rating,{
                                                'label': 'Rating',
                                            }) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{ form_rest(form) }}
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="well well-sm text-right">
                                        <input type="submit" class="btn btn-primary btn-sm"
                                               value="{{ 'Save'|trans({}, 'labels') }}"/>
                                        <a href="javascript:history.go(-1)"
                                           class="btn btn-default btn-sm">{{ 'Cancel'|trans({}, 'labels') }}</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}