{% extends 'DashboardBundle:Layout:base.html.twig' %}

{% block body %}
    {% embed "CatalogBundle::main.html.twig" %}
        {% block panelButtons %}
            <a href="{{ url('cms_catalog_products_create') }}"
               class="btn btn-success btn-xs">
                <i class="glyphicon glyphicon-plus"></i>
                {{ 'Add'|trans }}
            </a>
        {% endblock %}

        {% block main %}
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <th><input type="checkbox" data-action="selectAll"/></th>
                    <th>ID</th>
                    <th>{{'Title'|trans}}</th>
                    <th>{{'Is published'|trans}}</th>
                    <th>{{'Sort'|trans}}</th>
                    <th>{{'Date update'|trans}}</th>
                    <th>{{'Update by'|trans}}</th>
                    <th></th>
                    <th></th>
                    </thead>
                    <tbody>
                    {% for key, product in products if key < limit %}
                        <tr>
                            <td><input type="checkbox" value="{{product.id}}" name="mark[]"/></td>
                            <td>{{product.id}}</td>
                            <td>
                                <a href="{{url('cms_catalog_products_edit', {'id': product.id})}}">
                                    {{ product.title|locale }}
                                </a>
                            </td>
                            <td>{{ product.ispublished }}</td>
                            <td>{{ product.sort }}</td>
                            <td>{{ product.dateCreate|date('d.m.Y')}}</td>
                            <td>{{ product.updateBy}}</td>
                            <td></td>
                            <td><a href='{{url('cms_catalog_products_edit', {'id': product.id})}}'><span class="glyphicon lead text-primary glyphicon-pencil"></span></a></td>
                            <td><a href='{{url('cms_catalog_products_delete', {'id': product.id})}}'><span class="glyphicon lead text-danger glyphicon-remove-circle"></span></a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            {% include '@Catalog/pager.html.twig' with {'route': 'cms_catalog_products_list', 'offset': offset, 'limit': limit, 'countItems': products|length} %}
        {% endblock %}
    {% endembed %}
{% endblock %}
