<i class="glyphicon glyphicon-shopping-cart"></i>
{% if cart.count > 0 %}
    {{'labels.cart.title'|trans({},'catalog')}}: <span class="cartCount">{{ cart.count }}</span> шт.
    {{'labels.cart.sum'|trans({}, 'catalog')}}: <span class="cartSum">{{ (cart.total['RUB'])|number_format(2, '.', ' ') }}</span> <span class="cartCurrency">RUB</span>
{% else %}
    {{'labels.cart.title'|trans({},'catalog')}}: {{'labels.empty'|trans({},'catalog')}}
{% endif %}