{% if status == 'success' %}
<p class="lead">
    {{ 'labels.cart.added'|trans({}, 'catalog') }}
</p>
<a href="{{ url('constructor_catalog_cart') }}" class="btn btn-sn btn-success">{{ 'labels.order.create'|trans({}, 'catalog') }}</a>
{% else %}
<p class="lead">
    {{ 'labels.cart.not_added'|trans({}, 'catalog') }}
</p>
{% endif %}