{% extends 'DashboardBundle:Layout:base.html.twig' %}

{% block body %}
    {% embed "CatalogBundle::main.html.twig" %}
        {#{% block panelButtons %}
            <a href="{{ url('cms_catalog_categories_create') }}"
               class="btn btn-success btn-xs">
                <i class="glyphicon glyphicon-plus"></i>
                {{ 'Add'|trans }}
            </a>
        {% endblock %}#}

        {% block main %}
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <th><input type="checkbox" data-action="selectAll"/></th>
                    <th>ID</th>
                    <th>{{'Customer'|trans}}</th>
                    <th>{{'Price'|trans}}</th>
                    <th>{{'Currency'|trans}}</th>
                    <th>{{'Status'|trans}}</th>
                    <th>{{'Date update'|trans}}</th>
                    <th>{{'Update by'|trans}}</th>
                    <th></th>
                    <th></th>
                    </thead>
                    <tbody>
                    {% for order in orders %}
                        <tr>
                            <td><input type="checkbox" value="{{order.id}}" name="mark[]"/></td>
                            <td>{{order.id}}</td>
                            <td>
                                <a href="{{url('cms_catalog_categories_edit', {'id': order.id})}}">
                                    {{ order.customer }}
                                </a>
                            </td>
                            <td>{{ order.totalPrice|number_format(2 , '.', ' ') }}</td>
                            <td>{{ order.currency.code }}</td>
                            <td>{{ order.status }}</td>
                            <td>{{ order.dateCreate|date('d.m.Y')}}</td>
                            <td>{{ order.updateBy}}</td>
                            <td></td>
                            <td><a href='{{url('cms_catalog_orders_delete', {'id': order.id})}}'><span class="glyphicon lead text-danger glyphicon-remove-circle"></span></a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}
